.homepage {
    margin: 0;
    height: 150vh;
    background-color: black;
    align-items: center;
    
}

.movie-card-container {
    height: 400px;
    justify-content: center;
    align-self: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.movie-card {
    width: 240px;
    position: absolute;
    box-shadow: 5px 4px  5px rgba(253, 3, 3, 0.3);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.movie-card:hover .card-overlay {
    opacity: 1;
}

.card-overlay h5,
.card-overlay p {
    margin: 0;
    text-align: center;
}